<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Lessons</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

</head>
<body>
<div th:replace="student/student-header"></div>
<div class="container py-5">
  <div class="row">
    <h2 style="margin-bottom: 30px">Today's lessons for you</h2>

    <table id="example" class="table table-striped" style="width:100%">
      <thead>
      <tr>
        <th>No.</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Start time</th>
        <th>Finish time</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="lesson, iStat: ${lessons}">
        <td th:text="${iStat.index + 1}"/>
        <td th:text="${lesson.subject.name().substring(0, 1)+lesson.subject.name().substring(1).toLowerCase()}"/>
        <td th:text="${lesson.group.teacher.user.name + ' '+ lesson.group.teacher.user.surname}"/>
        <td th:text="${lesson.timeStart}"/>
        <td th:text="${lesson.getStringTimeFinish()}"/>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>