<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Select Students</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>

<body>
<div th:replace="teacher/teacher-header"></div>

<form id="selectedStudentsForm" th:action="@{|/teacher/create/group|}" th:object="${selectedStudents}"
      method="post">
    <div class="container py-5">
        <div class="row">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Full name</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student, iStat: ${confirmedStudents}">
                    <td th:text="${iStat.index + 1}" />
                    <td>
                        <a th:href="@{|/student/${student.id}|}" th:text="${student.username}" />
                    </td>
                    <td th:text="${student.email }" />
                    <td th:text="${student.name + ' ' + student.surname}" />
                    <td>
                        <input type="checkbox" th:name="'selectedStudents[' + ${iStat.index} + '].selected'"
                               th:value="${student.id}" onchange="checkSelection()">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="padding-left: 80px">
        <label for="name">Group Name:</label>
        <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
        <button type="submit" id="submitButton" disabled>Submit</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    function checkSelection() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var submitButton = document.getElementById('submitButton');

        var selected = Array.from(checkboxes).some(checkbox => checkbox.checked);
        submitButton.disabled = !selected;
    }
</script>
</body>

</html>
