<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

</head>
<body>
<div class="container py-5">
    <div class="row">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Full name</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iStat: ${notConfirmedStudents}">
                <td th:text="${iStat.index + 1}"/>
                <td>
                    <a th:href="@{|/student/${student.id}|}" th:text="${student.username}"/>
                </td>
                <td th:text="${student.email }"/>
                <td th:text="${student.name + ' ' + student.surname}"/>
                <td>
                    <form th:method="PATCH" th:action="@{|/teacher/request/agree/${student.student.id}|}"  style="display: inline-block;">
                        <input type="submit" value="Agree">
                    </form>
                    <form th:method="PATCH" th:action="@{|/teacher/request/disagree/${student.student.id}|}"  style="display: inline-block;">
                        <input type="submit" value="Disagree">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
</body>
</html>