<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

    <!-- Optional: Add your custom styles here -->
    <style>
        .operations-form {
            display: inline-block;
            margin-right: 5px;
        }
    </style>
</head>

<body>
<div th:replace="teacher/teacher-header"></div>
<div class="container py-5">
    <div class="row">
        <table id="example" class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Full name</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iStat: ${notConfirmedStudents}">
                <td th:text="${iStat.index + 1}"></td>
                <td>
                    <a th:href="@{|/student/${student.id}|}" th:text="${student.username}"></a>
                </td>
                <td th:text="${student.email }"></td>
                <td th:text="${student.name + ' ' + student.surname}"></td>
                <td>
                    <form class="operations-form" th:method="PATCH"
                          th:action="@{|/teacher/request/agree/${student.student.id}|}">
                        <input type="submit" class="btn btn-success" value="Agree">
                    </form>
                    <form class="operations-form" th:method="PATCH"
                          th:action="@{|/teacher/request/disagree/${student.student.id}|}">
                        <input type="submit" class="btn btn-danger" value="Disagree">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
</body>

</html>
