<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

</head>
<body>
<div th:replace="teacher/teacher-header"></div>
<div class="container py-5">
    <div class="row">
        <h2 style="margin-bottom: 30px" th:text="${'Group ' + group.name}"></h2>

        <table id="example" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>Subject</th>
                <th>Start time</th>
                <th>Finish time</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson, iStat: ${lessons}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${lesson.name}"/>
                <td th:text="${lesson.timeStart}"/>
                <td th:text="${lesson.getStringTimeFinish()}"/>
                <td>
                    <form th:method="DELETE" th:action="@{|/teacher/group/${group_id}/lesson/delete/${lesson.id}|}"
                          style="display: inline-block;">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<form class="form-horizontal" style="margin-left: 130px" th:action="@{|/teacher/create/${group_id}/lesson/|}" method="get">
    <button type="submit" class="btn btn-primary mb-2">Create Lesson</button>
</form>
</body>
</html>