<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

</head>
<body>
<div th:replace="teacher/teacher-header"></div>
<div class="container py-5">
    <div class="row">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group, iStat: ${groups}">
                <td th:text="${iStat.index + 1}"/>
                <td>
                    <a th:href="@{|/teacher/group/${group.id}|}" th:text="${group.name}"/>
                </td>
                <td th:text="${group.students.size()}"/>
                <td>
                    <form th:method="PATCH" th:action="@{|/teacher/lesson/start/${group.id}|}"  style="display: inline-block;">
                        <input type="submit" value="Begin lesson">
                    </form>
                    <form th:method="PATCH" th:action="@{|/teacher/request/disagree/${group.id}|}"  style="display: inline-block;">
                        <input type="submit" value="Plan lesson">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
</body>
</html>