<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 30px">
    <a class="navbar-brand" href="/courses">Student</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/courses/student">Courses</a>
            <a class="nav-item nav-link" href="/lessons/student">Lessons</a>
            <form th:action="@{/logout}" th:method="POST" class="nav-item">
                <button class="nav-link btn btn-link" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>