<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Lessons</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

</head>
<body>
<div th:replace="headers/teacher-header"></div>
<div class="container py-5">
  <div class="row">
    <h2 style="margin-bottom: 30px">Your planned lessons</h2>

    <table id="example" class="table table-striped" style="width:100%">
      <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Group</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="lesson, iStat: ${lessonsInfos}">
        <td th:text="${iStat.index + 1}"/>
        <td th:text="${lesson.name}"/>
        <td th:text="${lesson.description}"/>
        <td th:text="${lesson.timeStart}"/>
        <td th:text="${lesson.timeFinish}"/>
        <td>
          <a th:href="@{|/groups/${lesson.groupId}|}" th:text="${lesson.groupName}"/>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
